<div id="divPrincipal" class="divContenedorPrincipal">
    <div id="divPresentacionInstituciones" class="divPresentacion"></div>
    <div id="divCapturaInstitucion" class="divEmergente">
        <div id="divBtnOpciones" class="divSubformulario">
            <button id="btnAgregarInstitucion" class="w3-button w3-round btnControl">Registrar instituci贸n</button>
            <button id="btnEditarInstitucion" class="w3-button w3-round btnAdvertir">Editar instituci贸n</button>
            <button id="btnEliminarInstitucion" class="w3-button w3-round btnDesistir">Inhabilitar instituci贸n</button>
            <input id="inpPaso" name="idPaso" type="hidden" value="">
        </div>
        <div id="divFormularioInstitucion" class="divFormulario">
            <form id="formInstitucion" method="POST" action="/main/grabarInstitucion">
                <input id="nombreUsuario" name="nombreUsuario" type="hidden" value={{nombreUsuario}}>
                <input id="inpIdInstitucion" name="idInstitucion" type="hidden" value="">
                <div id="divDatosInstitucion" class="divSubformulario">
                    <b><label class="lblCaptura" >Instituci贸n:</label></b>
                    <input id="inpNombreInstitucion" class="w3-input w3-round" name="nombreInstitucion" type="text"></input>
                    <br>
                    <b><label class="lblCaptura" >Sigla:</label></b>
                    <input id="inpSiglaInstitucion" class="w3-input w3-round" name="siglaInstitucion" type="text"></input>
                    <br>
                    <b><label class="lblCaptura" >Snies:</label></b>
                    <input id="inpSniesInstitucion" class="w3-input w3-round" name="identificacionInstitucion" type="text"></input>
                </div>
                <div id="divGrabarInstitucion" class="divSubformulario">
                    <button id="btnGrabarInstitucion" class="w3-button w3-round btnControl" type="submit">Grabar institucion</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../javascripts/funcionesVistaConjuntoInstituciones.js"></script>
<script src="../javascripts/inicializacionVistaConjuntoInstituciones.js"></script>
<script type="text/javascript">inicializacionVistaConjuntoInstituciones("{{conjuntoInstituciones.institucionesJson}}");</script>
