<div style="display: flex">
    <div id="divPresentacionInstituciones" class="divPresentacion"></div>
    <div id="divCapturaInstitucion" class="divEmergente">
        <div id="divFormularioInstitucion" class="divFormulario">
            <form method='POST' action='/main/grabarInstitucion'>
                <div id="construirInstitucion" style="display: block;">
                </div>
                <div id="grabarInstitucion" style="display: block;">
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../javascripts/funcionesVistaConjuntoInstituciones.js"></script>
<script src="../javascripts/inicializacionVistaConjuntoInstituciones.js"></script>
<script type="text/javascript">inicializacionVistaConjuntoInstituciones('{{conjuntoInstituciones.institucionesJson}}');</script>
