<div id="divPrincipal" class="divContenedorPrincipal">
    <div id="divPresentacionSesiones" class="divPresentacion"></div>
</div>

<script src="../javascripts/funcionesVistaConjuntoSesiones.js"></script>
<script src="../javascripts/inicializacionVistaConjuntoSesiones.js"></script>
<script type="text/javascript">inicializacionVistaConjuntoSesiones('{{conjuntoSesiones.sesionesJson}}','{{usuarioRecuperado.usuarioJson}}','{{conjuntoTiposDiagramaRecuperado.conjuntoTiposDiagramaJson}}');</script>
