<form method='POST' action='/main/permitirIngreso'>
    <h3>
        Ingreso |
    </h3>
    <p>Usuario: <input type='email' name='nombreUsuario' value=''/></p>
    <input type='submit' value='Ingresar' />
</form>
