<div id="divPresentacionInicial" class="divFondo">
    <img id="imgPresentacionInicial" src="/images/imgFondo.png" style="width: 100%; background-size: cover">
    <img id="imgBtnIngresar" class="w3-button w3-round imgBtnEncabezado" src="/images/imgIngresar.png" usemap="#mapBtnIngresar">
    <map id="mapBtnIngresar" name="mapBtnIngresar"></map>
</div>

<script src="../javascripts/funcionesVistaIndex.js"></script>
<script src="../javascripts/inicializacionVistaIndex.js"></script>
<script type="text/javascript">inicializacionVistaIndex();</script>

