<!DOCTYPE html>
<html>
<head>
    <title>Astrid 1.0 (Versi贸n beta)</title>
    <link rel="icon" href="/images/Icono_Astrid.png" type="image/png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header>
    <div style="display: none">
        <b id="lblAplicacion" class="bEncabezado">Astrid 1.0</b>
        <b id="urlServidor" style="display: none"></b>
        <b id="alerta" ></b>
        <b id="banderaReserva" ></b>
    </div>
    <div id="divEncabezado" class="divEncabezado">
        <table class="tblEncabezado">
            <tr>
                <th>
                    <div id="divAplicacion" style="display: flex; flex-direction: row;" align="left">
                        <img id="imgBtnInicio" class="w3-button w3-round imgBtnEncabezado" src="/images/imgLogo.png" usemap="#mapBtnInicio" title="Astrid 1.0">
                        <map id="mapBtnInicio" name="mapBtnInicio"></map>
                        <b id="lblUbicacion" class="bEncabezado"></b>
                    </div>
                </th>
                <th>
                    <div id="divNavegacion" style="display: flex; flex-direction: row-reverse;">
                        <img id="imgBtnSalir" class="w3-button w3-round imgBtnEncabezado" src="/images/imgSalir.png" usemap="#mapBtnSalir">
                        <img id="imgBtnCreditos" class="w3-button w3-round imgBtnEncabezado" src="/images/imgLogo.png" usemap="#mapBtnCreditos">
                        <img id="imgBtnEstadisticas" class="w3-button w3-round imgBtnEncabezado" src="/images/imgLogo.png" usemap="#mapBtnEstadisticas">
                        <img id="imgBtnSesiones" class="w3-button w3-round imgBtnEncabezado" src="/images/imgSesiones.png" usemap="#mapBtnSesiones">
                        <img id="imgBtnCasos" class="w3-button w3-round imgBtnEncabezado" src="/images/imgSesiones.png" usemap="#mapBtnCasos">
                        <img id="imgBtnInstituciones" class="w3-button w3-round imgBtnEncabezado" src="/images/imgInstituciones.png" usemap="#mapBtnInstituciones">
                        <img id="imgBtnIngresar" class="w3-button w3-round imgBtnEncabezado" src="/images/imgIngresar.png" usemap="#mapBtnIngresar" >
                        <div id="divSeparadorUsuario" style="width: 20px"></div>
                        <b id="lblUsuario" class="bEncabezado"></b>
                        <map id="mapBtnSalir" name="mapBtnSalir"></map>
                        <map id="mapBtnCreditos" name="mapBtnCreditos"></map>
                        <map id="mapBtnEstadisticas" name="mapBtnEstadisticas"></map>
                        <map id="mapBtnSesiones" name="mapBtnSesiones"></map>
                        <map id="mapBtnCasos" name="mapBtnCasos"></map>
                        <map id="mapBtnInstituciones" name="mapBtnInstituciones"></map>
                        <map id="mapBtnIngresar" name="mapBtnIngresar"></map>
                    </div>
                </th>
            </tr>
        </table>
    </div>
    <div id="divSeparadorEncabezado" class="divSeparadorEncabezado"></div>
    <div id="divSesion" class="divSesion" align="left">
        <table class="tblSesion">
            <tr>
                <th id="thSangriaIzquierda" class="tblSangriaIzquierda w3-round">
                    <img id="imgBtnNada2" class="w3-button w3-round imgBtnEncabezado" src="/images/imgNada.png" style="display: inline-block">
                </th>
                <th id="thPlanteamiento" class="tblSesion w3-round">
                    <img id="imgBtnPlanteamiento" class="w3-button w3-round imgBtnEncabezado" src="/images/imgPlanteamiento.png" usemap="#mapBtnPlanteamiento" style="display: inline-block" title="Planteamiento">
                    <map id="mapBtnPlanteamiento" name="mapBtnPlanteamiento"></map>
                    <img id="imgBtnPlanteamientoInhabilitado" class="w3-button w3-round imgBtnEncabezado" src="/images/imgPlanteamientoInhabilitado.png">
                    <a id="lblPlanteamiento" class="lblSesion">Planteamiento</a>
                </th>
                <th id="thChat" class="tblSesion w3-round">
                    <img id="imgBtnChat" class="w3-button w3-round imgBtnEncabezado" src="/images/imgChat.png" usemap="#mapBtnChat" style="display: inline-block" title="Chat">
                    <map id="mapBtnChat" name="mapBtnChat"></map>
                    <img id="imgBtnChatInhabilitado" class="w3-button w3-round imgBtnEncabezado" src="/images/imgChatInhabilitado.png">
                    <a id="lblChat" class="lblSesion">Chat</a>
                </th>
                <th id="thDiagrama" class="tblSesion w3-round">
                    <img id="imgBtnDiagrama" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDiagrama.png" usemap="#mapBtnDiagrama" style="display: inline-block" title="Diagrama">
                    <map id="mapBtnDiagrama" name="mapBtnDiagrama"></map>
                    <img id="imgBtnDiagramaInhabilitado" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDiagramaInhabilitado.png">
                    <a id="lblDiagrama" class="lblSesion">Diagrama</a>
                </th>
                <th id="thArgumentacion" class="tblSesion w3-round">
                    <img id="imgBtnArgumentacion" class="w3-button w3-round imgBtnEncabezado" src="/images/imgArgumentacion.png" usemap="#mapBtnArgumentacion" style="display: inline-block" title="Argumentacion">
                    <map id="mapBtnArgumentacion" name="mapBtnArgumentacion"></map>
                    <img id="imgBtnArgumentacionInhabilitado" class="w3-button w3-round imgBtnEncabezado" src="/images/imgArgumentacionInhabilitado.png">
                    <a id="lblArgumentacion" class="lblSesion">Argumentaci贸n</a>
                </th>
                <th id="thSeparacion" class="tblSeparacion w3-round"></th>
                <th id="thLlamada" class="tblSangriaDerecha w3-round">
                    <img id="btnLlamar" class="w3-button w3-round imgBtnEncabezado" src="/images/imgPlanteamientoLlamar.png" usemap="#mapBtnDesplegarCaptura" style="display: none" title="Llamar a planteamiento">
                    <map id="mapBtnLlamar" name="mapBtnLlamar"></map>
                </th>
                <th id="thOcultarOpcionesSesion" class="tblSangriaDerecha w3-round">
                    <img id="btnOcultarOpcionesSesion" class="w3-button w3-round imgBtnEncabezado" src="/images/imgOcultar.png" style="display: none" title="Ocultar opciones">
                </th>
                <th id="thDesplegarOpcionesSesion" class="tblSangriaDerecha w3-round">
                    <img id="btnDesplegarOpcionesSesion" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDesplegar.png" usemap="#mapBtnDesplegarCaptura" style="display: inline-block" title="Desplegar opciones">
                    <label id="lblOpcionesSesion" class="lblSesionResaltado" style="display: none"></label>
                </th>
            </tr>
        </table>
    </div>
    <div id="divListado" class="divSesion" align="left">
        <table class="tblSesion">
            <tr>
                <th id="thSangriaIzquierdaListado" class="tblSangriaIzquierda w3-round">
                    <img id="imgBtnNada" class="w3-button w3-round imgBtnEncabezado" src="/images/imgNada.png" style="display: inline-block">
                </th>
                <th id="thCursos" class="tblListado w3-round">
                    <img id="btnDesplegarCursos" class="w3-button w3-round imgBtnEncabezado" src="/images/imgCurso.png" style="display: inline-block">
                    <a id="lblCursos" class="lblSesion">Cursos</a>
                </th>
                <th id="thGrupos" class="tblListado w3-round">
                    <img id="btnDesplegarGrupos" class="w3-button w3-round imgBtnEncabezado" src="/images/imgCurso.png" style="display: inline-block">
                    <a id="lblGrupos" class="lblSesion">Grupos</a>
                </th>
                <th id="thDocentes" class="tblListado w3-round">
                    <img id="btnDesplegarDocentes" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDocente.png" style="display: inline-block">
                    <a id="lblDocentes" class="lblSesion">Docentes</a>
                </th>
                <th id="thEstudiantes" class="tblListado w3-round">
                    <img id="btnDesplegarEstudiantes" class="w3-button w3-round imgBtnEncabezado" src="/images/imgEstudiante.png" style="display: inline-block">
                    <a id="lblEstudiantes" class="lblSesion">Estudiantes</a>
                </th>
                <th id="thSeparacionListado" class="tblSeparacion w3-round"></th>
                <th id="thOcultarOpciones" class="tblSangriaDerecha w3-round">
                    <img id="btnOcultarOpciones" class="w3-button w3-round imgBtnEncabezado" src="/images/imgOcultar.png" style="display: none" title="Ocultar opciones">
                </th>
                <th id="thDesplegarOpciones" class="tblSangriaDerecha w3-round">
                    <img id="btnDesplegarOpciones" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDesplegar.png" style="display: inline-block" title="Desplegar opciones">
                    <label id="lblOpciones" class="lblSesionResaltado" style="display: none"></label>
                </th>
            </tr>
        </table>
    </div>
    <!--
    Cargue de scripts que se requieren en varias vistas de la aplicaci贸n
    -->
    <script src="../javascripts/extraccionCadenaJson.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--
    Cargue de scripts de inicializaci贸n de la vista Layout
    -->
    <script src="../javascripts/funcionesVistaLayout.js"></script>
    <script src="../javascripts/inicializacionVistaLayout.js"></script>
    <script type="text/javascript">inicializacionVistaLayout();</script>
</header>
{{{body}}}
</body>

</html>
