<!DOCTYPE html>
<html>
<head>
    <title>Astrid 1.0 (Versi贸n beta)</title>
    <link rel="icon" href="/images/Icono_Astrid.png" type="image/png"/>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<header>
    <div style="display: none">
        <input id="anchoPresentacion" type="hidden">
        <input id="anchoEmergente" type="hidden">
        <b id="lblAplicacion" class="bEncabezado">Astrid 1.0</b>
        <b id="urlServidor"></b>
        <b id="perfilUsuario"></b>
        <b id="alerta"></b>
        <b id="banderaReserva"></b>
    </div>
    <div id="divEncabezado" class="divEncabezado">
        <table class="tblEncabezado">
            <tr>
                <th>
                    <div id="divAplicacion" class="divAplicacion" align="left">
                        <img id="imgBtnInicio" class="w3-button w3-round imgBtnEncabezado" src="/images/imgLogo.png" usemap="#mapBtnInicio">
                        <map id="mapBtnInicio" name="mapBtnInicio"></map>
                        <b id="lblUbicacion" class="bEncabezado"></b>
                    </div>
                </th>
                <th>
                    <div id="divNavegacion" class="divNavegacion">
                        <img id="imgBtnSalir" class="w3-button w3-round imgBtnEncabezado" src="/images/imgSalir.png" usemap="#mapBtnSalir">
                        <map id="mapBtnSalir" name="mapBtnSalir"></map>
                        <img id="imgBtnCreditos" class="w3-button w3-round imgBtnEncabezado" src="/images/imgLogo.png" usemap="#mapBtnCreditos">
                        <map id="mapBtnCreditos" name="mapBtnCreditos"></map>
                        <img id="imgBtnEstadisticas" class="w3-button w3-round imgBtnEncabezado" src="/images/imgLogo.png" usemap="#mapBtnEstadisticas">
                        <map id="mapBtnEstadisticas" name="mapBtnEstadisticas"></map>
                        <img id="imgBtnSesiones" class="w3-button w3-round imgBtnEncabezado" src="/images/imgSesiones.png" usemap="#mapBtnSesiones">
                        <map id="mapBtnSesiones" name="mapBtnSesiones"></map>
                        <img id="imgBtnCasos" class="w3-button w3-round imgBtnEncabezado" src="/images/imgCasos.png" usemap="#mapBtnCasos">
                        <map id="mapBtnCasos" name="mapBtnCasos"></map>
                        <img id="imgBtnInstituciones" class="w3-button w3-round imgBtnEncabezado" src="/images/imgInstituciones.png" usemap="#mapBtnInstituciones">
                        <map id="mapBtnInstituciones" name="mapBtnInstituciones"></map>
                        <img id="imgBtnIngresar" class="w3-button w3-round imgBtnEncabezado" src="/images/imgIngresar.png" usemap="#mapBtnIngresar" >
                        <map id="mapBtnIngresar" name="mapBtnIngresar"></map>
                        <div id="divSeparadorUsuario" style="width: 20px"></div>
                        <b id="lblUsuario" class="bEncabezado"></b>
                    </div>
                </th>
            </tr>
        </table>
    </div>
    <div id="divSeparadorEncabezado" class="divSeparadorEncabezado"></div>
    <div id="divSesion" class="divMenu" align="left">
        <table class="tblMenu">
            <tr>
                <th id="thSangriaIzquierda" class="w3-round tblSangriaIzquierda">
                    <img id="imgBtnNada2" class="w3-button w3-round imgBtnEncabezado" src="/images/imgNada.png" style="display: inline-block">
                </th>
                <th id="thPlanteamiento" class="w3-round tblMenuSesion">
                    <img id="imgBtnPlanteamiento" class="w3-button w3-round imgBtnEncabezado" src="/images/imgPlanteamiento.png" usemap="#mapBtnPlanteamiento" style="display: inline-block" title="Planteamiento">
                    <map id="mapBtnPlanteamiento" name="mapBtnPlanteamiento"></map>
                    <img id="imgBtnPlanteamientoActiva" class="w3-button w3-round imgBtnEncabezado" src="/images/imgPlanteamientoActiva.png">
                    <a id="lblPlanteamiento" class="lblSesion">Planteamiento</a>
                </th>
                <th id="thChat" class="w3-round tblMenuSesion">
                    <img id="imgBtnChat" class="w3-button w3-round imgBtnEncabezado" src="/images/imgChat.png" usemap="#mapBtnChat" style="display: inline-block" title="Chat">
                    <map id="mapBtnChat" name="mapBtnChat"></map>
                    <img id="imgBtnChatActiva" class="w3-button w3-round imgBtnEncabezado" src="/images/imgChatActiva.png">
                    <a id="lblChat" class="lblSesion">Chat</a>
                </th>
                <th id="thDiagrama" class="w3-round tblMenuSesion">
                    <img id="imgBtnDiagrama" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDiagrama.png" usemap="#mapBtnDiagrama" style="display: inline-block" title="Diagrama">
                    <map id="mapBtnDiagrama" name="mapBtnDiagrama"></map>
                    <img id="imgBtnDiagramaActiva" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDiagramaActiva.png">
                    <a id="lblDiagrama" class="lblSesion">Diagrama</a>
                </th>
                <th id="thArgumentacion" class="w3-round tblMenuSesion">
                    <img id="imgBtnArgumentacion" class="w3-button w3-round imgBtnEncabezado" src="/images/imgArgumentacion.png" usemap="#mapBtnArgumentacion" style="display: inline-block" title="Argumentacion">
                    <map id="mapBtnArgumentacion" name="mapBtnArgumentacion"></map>
                    <img id="imgBtnArgumentacionActiva" class="w3-button w3-round imgBtnEncabezado" src="/images/imgArgumentacionActiva.png">
                    <a id="lblArgumentacion" class="lblSesion">Argumentaci贸n</a>
                </th>
                <th id="thSeparacion" class="w3-round tblSeparacion"></th>
                <th id="thDesplegarOpcionesSesion" class="w3-round tblSangriaDerecha">
                    <img id="btnDesplegarOpcionesSesion" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDesplegar.png" style="display: inline-block" title="Desplegar opciones">
                    <label id="lblOpcionesSesion" class="lblSesionResaltado"></label>
                </th>
                <th id="thLlamada" class="w3-round tblSangriaDerechaOculta">
                    <img id="btnLlamar" class="w3-button w3-round imgBtnEncabezado" src="/images/imgLlamar.png" style="display: inline-block" title="Llamar a planteamiento">
                </th>
                <th id="thOcultarOpcionesSesion" class="w3-round tblSangriaDerechaOculta">
                    <img id="btnOcultarOpcionesSesion" class="w3-button w3-round imgBtnEncabezado" src="/images/imgOcultar.png" style="display: inline-block" title="Ocultar opciones">
                </th>
            </tr>
        </table>
    </div>
    <div id="divListado" class="divMenu" align="left">
        <table class="tblMenu">
            <tr>
                <th id="thSangriaIzquierdaListado" class="w3-round tblSangriaIzquierda">
                    <img id="imgBtnNada" class="w3-button w3-round imgBtnEncabezado" src="/images/imgNada.png" style="display: inline-block">
                </th>
                <th id="thCursos" class="w3-round tblMenuListado">
                    <img id="btnDesplegarCursos" class="w3-button w3-round imgBtnEncabezado" src="/images/imgCurso.png" style="display: inline-block">
                    <a id="lblCursos" class="lblSesion">Cursos</a>
                </th>
                <th id="thGrupos" class="w3-round tblMenuListado">
                    <img id="btnDesplegarGrupos" class="w3-button w3-round imgBtnEncabezado" src="/images/imgGrupo.png" style="display: inline-block">
                    <a id="lblGrupos" class="lblSesion">Grupos</a>
                </th>
                <th id="thDocentes" class="w3-round tblMenuListado">
                    <img id="btnDesplegarDocentes" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDocente.png" style="display: inline-block">
                    <a id="lblDocentes" class="lblSesion">Docentes</a>
                </th>
                <th id="thEstudiantes" class="w3-round tblMenuListado">
                    <img id="btnDesplegarEstudiantes" class="w3-button w3-round imgBtnEncabezado" src="/images/imgEstudiante.png" style="display: inline-block">
                    <a id="lblEstudiantes" class="lblSesion">Estudiantes</a>
                </th>
                <th id="thSeparacionListado" class="w3-round tblSeparacion"></th>
                <th id="thDesplegarOpciones" class="w3-round tblSangriaDerecha">
                    <img id="btnDesplegarOpciones" class="w3-button w3-round imgBtnEncabezado" src="/images/imgDesplegar.png" style="display: inline-block" title="Desplegar opciones">
                    <label id="lblOpciones" class="lblSesionResaltado"></label>
                </th>
                <th id="thOcultarOpciones" class="w3-round tblSangriaDerechaOculta">
                    <img id="btnOcultarOpciones" class="w3-button w3-round imgBtnEncabezado" src="/images/imgOcultar.png" style="display: inline-block" title="Ocultar opciones">
                </th>
            </tr>
        </table>
    </div>
    <!--
    Cargue de scripts que se requieren en varias vistas de la aplicaci贸n
    -->
    <script src="../javascripts/extraccionCadenaJson.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <!--
    Cargue de scripts de inicializaci贸n de la vista Layout
    -->
    <script src="../javascripts/funcionesVistaLayout.js"></script>
    <script src="../javascripts/inicializacionVistaLayout.js"></script>
    <script type="text/javascript">inicializacionVistaLayout();</script>
</header>
{{{body}}}
</body>

</html>
