<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/images/Icono_Astrid.png" type="image/png"/>
    <title>Astrid 1.0 (Versión alfa)</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
    {{#if nombreUsuario}}
        <a href="/?nombreUsuario={{nombreUsuario}}">
            <img src="/images/Logo_Astrid.png" alt="Astrid 1.0 (Versión alfa)" height="100px"  title="Inicio">
        </a>
    {{else}}
        <a href="/">
            <img src="/images/Logo_Astrid.png" alt="Astrid 1.0 (Versión alfa)" height="100px"  title="Inicio">
        </a>
    {{/if}}
    <hr class="verdeAstrid3">
</header>
{{{body}}}
</body>
<hr class="naranjaAstrid2">
{{#if nombreUsuario}}
    <p align="right">
        {{nombreUsuario}} |
        <a href="/">Salir</a>
    </p>
{{/if}}
</html>
