<!DOCTYPE html>
<html>
<head>
    <link rel="icon"   href="/images/Icono_Astrid.png" type="image/png" />
    <title>Astrid 1.0 (Versión alfa)</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header>
    <a href="/">
    <img src="/images/Logo_Astrid.png" alt="Astrid 1.0 (Versión alfa)" height="100px">
    </a>
    <hr class="verdeAstrid3">
</header>
{{{body}}}
</body>
<hr class="naranjaAstrid2">
</html>
