:root {
  --colorVerdePrincipalWeb: #1D8649;
  --colorNaranjaPrincipalWeb: #F7931E;
  --colorAzulPrincipalWeb: #00689E;
  --colorFondoLibre: #FFFFFF;
  --colorGrisLibre: #F2F2F2;
  --colorGrisResaltado: #BDBDBD;
  --colorRojoDesistir: #D93025;
  --colorTextoNormal: #585858;

  --tipografiaNormal: "Arial", Helvetica, serif;
  --tipografiaDestacada: "OpenSans", Helvetica, serif;
  --tamanoTipografiaPequena: 14px;
  --tamanoTipografiaNormal: 17px;
  --tamanoTipografiaGrande: 20px;
}

body {
  padding: 0px;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  color: var(--colorTextoNormal);
}

/* Estilos para divisiones */

div.divOculto {
  display: none;
}

div.divEncabezado {
  display: block;
  background-color: var(--colorGrisLibre);
}

div.divAplicacion {
  display: flex;
  flex-direction: row;
}

div.divNavegacion {
  display: flex;
  flex-direction: row-reverse;
}

div.divSeparadorEncabezado {
  display: block;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: var(--colorNaranjaPrincipalWeb);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--colorVerdePrincipalWeb);
  background-color: var(--colorFondoLibre);
  height: 7px;
}

div.divMenu {
  display: none;
}

div.divFondo {
  display: block;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--colorNaranjaPrincipalWeb);
  overflow: auto;
  position: relative;
}

div.divContenedorPrincipal {
  display: flex;
  overflow: hidden;
}

div.divPresentacion {
  display: block;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--colorNaranjaPrincipalWeb);
  overflow: auto;
  position: relative;
  padding: 20px;
}

div.divListado {
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  overflow: auto;
  position: relative;
  padding: 20px;
}

div.divEnumeracionGrupos {
  display: none;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  padding-left: 80px;
}

div.divEnumeracionCasos {
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  padding-left: 80px;
}

div.divEnumeracionOculta {
  display: none;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--colorNaranjaPrincipalWeb);
  overflow: auto;
  padding: 20px;
}

div.divDibujo {
  display: block;
  text-align: center;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--colorNaranjaPrincipalWeb);
  background-color: var(--colorFondoLibre);
  overflow: auto;
  position: relative;
  width: 100%;
}

div.divEmergente {
  display: flex;
  flex-direction: column;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--colorFondoLibre);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--colorNaranjaPrincipalWeb);
  background-color: var(--colorGrisLibre);
  overflow: auto;
  position: relative;
  width: 0%;
}

div.divFormulario {
  display: none;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  background-color: var(--colorGrisLibre);
  padding: 10px;
  overflow: auto;
  position: relative;
}

div.divSubformulario {
  display: none;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  background-color: var(--colorGrisLibre);
  padding: 10px;
  padding-bottom: 0px;
}

div.divCaptura {
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--colorNaranjaPrincipalWeb);
  background-color: var(--colorGrisLibre);
  padding: 20px;
}

/* Estilos para rótulos */

b.bEncabezado {
  alignment: left;
  font-family: var(--tipografiaDestacada);
  font-size: var(--tamanoTipografiaNormal);
  color: var(--colorTextoNormal);
  padding-top: 10px;
  padding-left: 10px;
}

b.bEncabezadoSub {
  alignment: left;
  font-family: var(--tipografiaDestacada);
  font-size: var(--tamanoTipografiaPequena);
  color: var(--colorTextoNormal);
  padding-top: 10px;
  padding-left: 10px;
}

label.lblSesion {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  color: var(--colorTextoNormal);
}

label.lblSesionResaltado {
  display: inline-block;
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  font-weight: bold;
  color: var(--colorVerdePrincipalWeb);
}

b.bSesion {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  color: var(--colorTextoNormal);
}

b.bEnumeracion {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  color: var(--colorTextoNormal);
  padding-left: 0px;
}

/* Estilos para tablas */

table.tblEncabezado {
  width: 100%;
}

table.tblMenu {
  width: 100%;
}

table.tblIntegrantes {
  width: 100%;
}

/* Estilos para filas y columnas de tablas */

th.tblSangriaIzquierda {
  width: 0px;
  background-color: var(--colorFondoLibre);
}

th.tblMenuSesion {
  width: 200px;
  background-image: linear-gradient(to top right, var(--colorGrisResaltado), var(--colorGrisLibre));
  text-align: left;
}

th.tblMenuSesionVisible {
  display: inline-block;
  width: 200px;
  background-image: linear-gradient(to top right, var(--colorGrisResaltado), var(--colorGrisLibre));
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--colorGrisResaltado);
}

th.tblMenuSesionActiva {
  display: inline-block;
  width: 200px;
  background-image: linear-gradient(to top right, var(--colorGrisResaltado), var(--colorGrisLibre));
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--colorNaranjaPrincipalWeb);
}

th.tblMenuListado {
  display: none;
  width: 200px;
  background-image: linear-gradient(to top right, var(--colorGrisResaltado), var(--colorGrisLibre));
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--colorGrisResaltado);
}

th.tblMenuListadoVisible {
  display: inline-block;
  width: 200px;
  background-image: linear-gradient(to top right, var(--colorGrisResaltado), var(--colorGrisLibre));
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--colorGrisResaltado);
}

th.tblMenuListadoActiva {
  display: inline-block;
  width: 200px;
  background-image: linear-gradient(to top right, var(--colorGrisResaltado), var(--colorGrisLibre));
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--colorNaranjaPrincipalWeb);
}

th.tblAporte {
  width: 200px;
  background-image: linear-gradient(to top right, var(--colorGrisResaltado), var(--colorGrisLibre));
  text-align: left;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--colorGrisResaltado);
}

th.tblSeparacion {
  background-color: var(--colorFondoLibre);
}

th.tblSangriaDerecha {
  width: 40px;
  background-color: var(--colorFondoLibre);
}

th.tblSangriaDerechaOculta {
  display: none;
}

th.tblSangriaDerechaResaltada {
  background-image: linear-gradient(to top right, var(--colorGrisResaltado), var(--colorGrisLibre));
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: var(--colorGrisResaltado);
}

td.tblIntegrantes {
  text-align: left;
  width: 75%;
  font-size: var(--tamanoTipografiaPequena);
}

td.tblEquipos {
  text-align: right;
  font-size: var(--tamanoTipografiaPequena);
  width: 20%;
}

td.tblEquiposOculto {
  display: none;
  text-align: right;
  font-size: var(--tamanoTipografiaPequena);
  width: 20%;
}

td.tblLideres {
  text-align: left;
  font-size: var(--tamanoTipografiaPequena);
  width: 5%;
}

td.tblLideresOculto {
  text-align: left;
  font-size: var(--tamanoTipografiaPequena);
  width: 5%;
}

/* Estilos para botones basados en imágenes y rótulos */

img.imgBtnEncabezado {
  display: none;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-size: cover;
}

a.btnEnumeracion {
  display: none;
  color: var(--colorFondoLibre);
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  background-color: var(--colorVerdePrincipalWeb);
  border-style: solid;
  border-width: 1px;
  border-color: var(--colorFondoLibre);
}

b.btnEnumeracion {
  display: none;
  color: var(--colorFondoLibre);
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  background-color: var(--colorVerdePrincipalWeb);
  border-style: solid;
  border-width: 1px;
  border-color: var(--colorFondoLibre);
}

/* Estilos para elementos de graficación */

img.imgDibujo {
  width: 1000px;
  height: 2000px;
  position: absolute;
}

canvas.cnvDibujo {
  width: 1000px;
  height: 2000px;
}

b.bCaptura {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  color: var(--colorTextoNormal);
}

label.lblPresentacion {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  color: var(--colorTextoNormal);
}

label.lblPresentacionSeleccionado {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  font-weight: bold;
  color: var(--colorNaranjaPrincipalWeb);
}

label.lblPresentacionEnumeracion {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  font-weight: bold;
  text-decoration: underline;
  color: var(--colorVerdePrincipalWeb);
}

label.lblPresentacionEnumeracionSub {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  font-weight: bold;
  color: var(--colorVerdePrincipalWeb);
}

label.lblPresentacionSub {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  color: var(--colorTextoNormal);
}

label.lblPresentacionSubSeleccionado {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  font-weight: bold;
  color: var(--colorNaranjaPrincipalWeb);
}

label.lblCaptura {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaGrande);
  color: var(--colorTextoNormal);
}

label.lblGuiaCaptura {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaGrande);
  color: var(--colorVerdePrincipalWeb);
}

label.lblConfirmacion {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  color: var(--colorFondoLibre);
  background-color: var(--colorNaranjaPrincipalWeb);
}

label.lblMenor {
  alignment: left;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  color: var(--colorTextoNormal);
}

a.aEnumeracion {
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  font-weight: bolder;
  text-decoration: underline;
  color: var(--colorNaranjaPrincipalWeb);
}

a.aEnumeracionInactiva {
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaNormal);
  font-weight: bold;
  text-decoration: none;
  color: var(--colorNaranjaPrincipalWeb);
}

a.aEnumeracionSub {
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  color: var(--colorVerdePrincipalWeb);
  font-weight: bolder;
}

/* Estilos para botones */

button.btnPrimeraPersona {
  color: #FFFFFF;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  background-color: var(--colorVerdePrincipalWeb);
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

button.btnTerceraPersona {
  color: #FFFFFF;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  background-color: var(--colorNaranjaPrincipalWeb);
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

button.btnModerador {
  color: #FFFFFF;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  background-color: var(--colorAzulPrincipalWeb);
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

button.btnPrimeraPersonaReserva {
  color: var(--colorRojoDesistir);
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  background-color: var(--colorVerdePrincipalWeb);
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

button.btnTerceraPersonaReserva {
  color: #FFFFFF;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  background-color: var(--colorRojoDesistir);
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

button.btnControl {
  display: "inline-block";
  color: #FFFFFF;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  background-color: var(--colorVerdePrincipalWeb);
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

button.btnAdvertir {
  display: "inline-block";
  color: #FFFFFF;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  background-color: var(--colorNaranjaPrincipalWeb);
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

button.btnDesistir {
  display: inline-block;
  color: #FFFFFF;
  font-family: var(--tipografiaNormal);
  font-size: var(--tamanoTipografiaPequena);
  background-color: var(--colorRojoDesistir);
  border-style: solid;
  border-width: 1px;
  border-color: #FFFFFF;
}

/* Estilos pendientes de eliminación */

hr.verdeAstrid3 {
  border: 3px solid var(--colorVerdePrincipalWeb);
  border-radius: 2px;
}

hr.verdeAstrid1 {
  border: 1px solid var(--colorVerdePrincipalWeb);
}

hr.naranjaAstrid2 {
  border: 2px solid var(--colorNaranjaPrincipalWeb);
  border-radius: 1px;
}
