{{#if conjuntoDiagramas}}
    <hr/>
    <h3>Diagramas</h3>
    {{#each conjuntoDiagramas.diagramas}}
        <ul>
            <li><a href="/main/presentarDiagrama?id={{id}}">{{@index}}</a> {{nombre}}</li>
        </ul>
    {{/each}}
    <hr/>
    <a href='/'>Inicio</a> |
    <a href='/main/registrarDiagrama'>Registrar diagrama</a>
{{/if}}
