<form method='POST' action='/main/grabarArgumentacion'>
    <hr/>
    <h3>Argumentaciones</h3>
    {{#each conjuntoArgumentaciones.arreglo}}
        <ul>
            <li><a href="/main/presentarArgumentacion?id={{id}}">{{@index}}</a> {{nombre}}</li>
        </ul>
    {{/each}}
    <hr/>
    <h3>Registrar argumentación</h3>
    <p>Nombre: <input type='text' name='nombre' value=''/></p>
    <input type='hidden' name='inicio' value=''/></p>
    <input type='submit' value='Grabar' />
    <hr/>
    <a href='/'>Inicio</a> |
    <a href='/main/consultarConjuntoArgumentaciones'>Argumentaciones</a> |
</form>