{{#if conjuntoArgumentaciones}}
    <hr/>
    <h3>Argumentaciones</h3>
    {{#each conjuntoArgumentaciones.arreglo}}
        <ul>
            <li><a href="/main/presentarArgumentacion?id={{id}}">{{@index}}</a> {{nombre}}</li>
        </ul>
    {{/each}}
    <hr/>
    <a href='/'>Inicio</a> |
    <a href='/main/registrarArgumentacion'>Registrar argumentación</a>
{{/if}}
